{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block navbaritems %}

    <div class="navbar-nav">
        <a class="nav-link" href="/dashboard/client">Dashboard</a>
        <a class="nav-link" href="/profil/client">Profil</a>
        <a class="nav-link active" href="/client/commandeEnCours">Commandes</a>
        <a class="nav-link" href="/client/historiqueCommande">Historiques des Commandes</a>
    </div>

    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}

<div class="card mx-auto" style="width: 90rem; margin-top : 15px">
  <div class="card-body">
    <h5 class="card-title">Commandes en cours</h5>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N°Commande</th>
                                <th>Commande status</th>
                                <th>Horaire Livraison</th>
                            </tr>
                        <thead>
                        <tbody>
                            {% for possede in possedes %}
                                {% if possede.FKST.STLibelle != 'Livrée' %}
                                    <tr>
                                        <th>{{ possede.FKCO.id }}</th>
                                        <th>{{ possede.FKST.STLibelle}}</th>
                                        {# <th>{{ possede.POdate}}</th> #}
                                    <tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>
</div>
{% endblock %}
