{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block navbaritems %}

    <div class="navbar-nav">
        <a class="nav-link" href="/dashboard/client">Dashboard</a>
        <a class="nav-link" href="/profil/client">Profil</a>
        <a class="nav-link" href="/client/commandeEnCours">Commandes</a>
        <a class="nav-link active" href="/client/historiqueCommande">Historique des Commandes</a>
    </div>

    <form>
        <button class="btn me-2" type="button" onclick='window.location.href = "/logout"' style="background-color: #9d3822; color: #FFFFFF">Déconnexion</button>
    </form>

{% endblock %}

{% block body %}

<div class="card mx-auto" style="width: 90rem; margin-top : 15px">
  <div class="card-body">
    <h5 class="card-title text-center">Historique des commandes</h5>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N°Commande</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Details</th>
                            </tr>
                        <thead>
                        <tbody>
                            {% for commande in commandes %}
                                <tr>
                                    <th>{{ commande.id}}</th>
                                    <th>{{ commande.status}}</th>
                                    <th>{{ commande.date}}</th>
                                    <th><a class="btn btn-primary" onclick="details({{ commande.id}});">Details<a></th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>
</div>

<div id="modalDetails" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details Commande</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom Plat</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Prix Total</th>
                            <th>Restaurant</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyModal">
                    </tbody>
                    <tfooter>
                        <tr id="trFooter">
                            <th></th>
                            <th>Total : </th>
                        </tr>
                    </tfooter>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function details($id){
         data = { 'id' : $id }
        $.ajax({
            url : '/client/detailsCommande',
            type: 'POST',
            data : data
        }).done(function(response){
            $("#modalDetails").modal("show")
            $("#tbodyModal").empty();
            $("#trFooter").empty();
            total = 0;
            quantiteTotal = 0;
            response.forEach(function(element){
                prixTotal = element.Quantite * element.Prix
                quantiteTotal += element.Quantite
                html = "<tr>" +
                "<th>" + element.Libelle + "</th>" +
                "<th>" + element.Prix + "</th>" +
                "<th>" + element.Quantite + "</th>" +
                "<th>" +  prixTotal + "</th>" +
                "<th>" + element.Restaurant +"</th>" +
                "</tr>";
                total = total + prixTotal;
                $("#tbodyModal").append(html);
            })
            footer = "<th></th>"+
                    "<th>Total : </th>" +
                    "<th>" + quantiteTotal + "</th>"+
                    "<th>" + total + "</th>"
            $("#trFooter").append(footer);
        })
    };
</script>
{% endblock %}
